<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>EasySOS</title>
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="mb-4">Panel de EasySOS..</h1>
      <form action="/send-notifications" method="post">
        <div class="form-group">
          <label for="customBody">Descripción de Alerta</label>
          <input
            type="text"
            class="form-control"
            id="customBody"
            name="customBody"
            minlength="6"
            required
            placeholder="Describe la alerta y el lugar aprox. (6 Carácteres mínimo)"
          />
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>
  </body>
</html>
