<!-- success-modal.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EasySOS</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <style>
      body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
      }

      .modal-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
      }

      .modal-content {
        max-width: 400px; /* Ajusta el ancho máximo según tus necesidades */
        width: 100%;
      }

      .modal-body {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="modal-container">
      <div class="modal" id="successModal">
        <div class="modal-dialog modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Reporte de Alerta EasySOS.</h4>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>

          <div class="modal-body">
            <% if (typeof successMessage !== 'undefined') { %>
            <p style="font-weight: bold; font-size: 16px; color: black">
              <%= successMessage %>
            </p>
            <% } else if (typeof errorMessage !== 'undefined') { %>
            <p class="text-danger"><%= errorMessage %></p>
            <% } %>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
              onclick="redirectToIndex()"
            >
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
      $(document).ready(function () {
        $("#successModal").modal("show");
      });

      function redirectToIndex() {
        window.location.href = "/";
      }
    </script>
  </body>
</html>
